<!DOCTYPE hibernate-configuration PUBLIC  
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>
<session-factory>
	<!-- 引入需要映射的类 -->
	<mapping class="org.javatribe.pinker.entity.Student" />
	<mapping class="org.javatribe.pinker.entity.Announcement" />
	<mapping class="org.javatribe.pinker.entity.Report" />
	<mapping class="org.javatribe.pinker.entity.Comment" />
	<mapping class="org.javatribe.pinker.entity.Course" />
	<mapping class="org.javatribe.pinker.entity.Elective_category" />
	<mapping class="org.javatribe.pinker.entity.Likes" />
</session-factory>
</hibernate-configuration>  