<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
      http://www.springframework.org/schema/context    
      http://www.springframework.org/schema/context/spring-context.xsd    
      http://www.springframework.org/schema/mvc    
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">  
    
    <context:property-placeholder location="classpath:config/database.properties"
		ignore-unresolvable="true" />
     
    <!-- 配置数据源 -->  
    <bean id="dataSource"  
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
        <property name="driverClassName" value="${DATABASE.DRIVER_CLASS}" />  
        <property name="url" value="${DATABASE.URL}" />
        <property name="username" value="${DATABASE.USERNAME}" />  
        <property name="password" value="${DATABASE.PASSWORD}" />  
    </bean>  

  
    
  	<!-- 数据库的连接池，通过C3P0去操作 -->
	<!-- <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${DATABASE.DRIVER_CLASS}" />
		<property name="jdbcUrl" value="${DATABASE.URL}" />
		当用户调用getConnection()时使root用户成为去获取连接的用户。主要用于连接池连接非c3p0 的数据源时。Default:null
		<property name="overrideDefaultUser" value="${DATABASE.USERNAME}" />
		与overrideDefaultUser参数对应使用的一个参数。Default: null
		<property name="overrideDefaultPassword" value="${DATABASE.PASSWORD}" />
		<property name="initialPoolSize" value="10" />
		连接池中保留的最小连接数。
		<property name="minPoolSize" value="10" />
		连接池中保留的最大连接数。Default: 15
		<property name="maxPoolSize" value="50" />
		<property name="maxIdleTime" value="7200" />
		当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。Default: 3
		<property name="acquireIncrement" value="5" />
		<property name="checkoutTimeout" value="10000" />
		<property name="maxIdleTimeExcessConnections" value="10" />
	</bean>  -->
  
    <!--  配置hibernate SessionFactory-->  
    <bean id="sessionFactory"  
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />  
        <property name="hibernateProperties">  
            <props>  
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>  
                <prop key="hibernate.hbm2ddl.auto">update</prop>  
                <prop key="hibernate.show_sql">true</prop>  
                <prop key="hiberante.format_sql">true</prop>  
            </props>  
        </property>  
        
        <property name="configLocations">  
            <list>  
                <value>  
                    classpath*:config/hibernate/hibernate.cfg.xml
                </value>  
            </list>  
        </property>  
    </bean>  
  
  	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
  
    <!-- 事务管理器 -->  
    <bean id="transactionManager"  
        class="org.springframework.orm.hibernate4.HibernateTransactionManager">  
        <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean>  
      
    <!-- 事务代理类 -->  
    <bean id="transactionBese"  
        class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"  
        lazy-init="true" abstract="true">  
        <property name="transactionManager" ref="transactionManager"></property> 
        <!-- 遇到哪些问题开启事务 --> 
        <property name="transactionAttributes">  
            <props>  
                <prop key="add*">PROPAGATION_REQUIRED,-Exception</prop>  
                <prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>  
                <prop key="insert*">PROPAGATION_REQUIRED,-Exception</prop>  
                <prop key="modify*">PROPAGATION_REQUIRED,-Exception</prop>  
                <prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>  
                <prop key="del*">PROPAGATION_REQUIRED,-Exception</prop>  
                <prop key="get*">PROPAGATION_NEVER</prop>  
            </props>  
        </property>  
    </bean>  
  
</beans>
